@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');

$main-font: 'Bungee Hairline', cursive;

html{
  scroll-behavior: smooth;
}

body{
  // background-image: url('https://www.dropbox.com/s/srjyi8jjhqd7fqp/MOSHED-2020-3-7-1-47-51.jpg?raw=1');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-image: url(https://www.dropbox.com/s/zktk0redluwhzym/Vector.png?raw=1);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

}

h3{
  font-size: 2.5vw;
}

.aws-btn {
  @media only screen and (max-width: 599px){
    --button-default-height: 30px;
    --button-default-border-radius: 30px;
    --button-horizontal-padding: 1px;
  }
  
  --button-default-height: 50px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 30px;
  --button-horizontal-padding: 8px;
  --button-raise-level: 5px;
  --button-hover-pressure: 3;
  --transform-speed: 0.185s;
  --button-primary-color-dark: #4a3f97;
  --button-primary-color: #a56ec5;
  --button-primary-color-light: #2e84b2;
  --button-primary-color-hover: #fda7d2;
  --button-primary-border: none;
  --button-secondary-color: #fafafa;
  --button-secondary-color-dark: #67cbc3;
  --button-secondary-color-light: #349890;
  --button-secondary-color-hover: #ecf9f8;
  --button-secondary-border: 2px solid #b3e5e1;
  --button-anchor-color: #95d44a;
  --button-anchor-color-dark: #52a934;
  --button-anchor-color-light: #3f8228;
  --button-anchor-color-hover: #89cf35;
  --button-anchor-border: 2px solid #5bbd3a;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    --button-default-height: 40px;
    --button-default-border-radius: 30px;
    --button-horizontal-padding: 1px;
  }
  }

.App{
  display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 99vw;
    height: auto;
}

.sidebar_bttn[type="primary"]{
  font-size: 0.5vw;
  background-color: transparent;
  border: none;
  padding: 5vh 0;
  i{
    color: rgb(192, 252, 168);
    cursor: pointer;
    font-size: 0.5vw;
  }
  @media only screen and (max-width: 599px){
    font-size: 8vw;
  }
}


.sidebar{
  width: 15vw;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(28, 4, 77, 0.58) 0%, rgba(224, 130, 160, 0.61) 100%);
  position: fixed;
  z-index: 9;
  border-right: 1px solid #9493b3;
  display: flex;
  align-items: center;
  flex-flow: column;
  top: 0;
  left: 0;
  @media only screen and (max-width: 599px){
    width: 100vw;
    background-image: linear-gradient(180deg, rgba(28, 4, 77, 0.8) 0%, rgba(224, 130, 160, 0.8) 100%);
    padding-top: 15vh;

  }
  @media only screen and (max-width: 899px) and (min-width: 600px){
    width: 18vw;
    padding-top: 5vh;
  }
  @media only screen and (max-width: 1199px) and (min-width: 900px){
    width: 25vw;
  }
  ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    li {
      font-size: 2vw;
      padding: 2.5vh 0;
      color: white;
      @media only screen and (max-width: 899px) and (min-width: 600px){
        font-size: 3vw;
        padding: 0.2vh 0;
      }
      @media only screen and (max-width: 599px){
        font-size: 6vw;
      }
    }
  }
  h3 {
    font-size: 1.5vw;
    color: white;
    margin: 0;
    padding-top: 1.5vh;
    @media only screen and (max-width: 599px){
      font-size: 4vw;
    }
  }
  span i{
    color: white;
    padding: 1.5vh;

  }
}

.sidebar.closed{
  width: 5vw;
  height: 100vh;
  @media only screen and (max-width: 599px){
    background-image: none;
    border: none;
    padding-top: 0;
    ul{
      display:none;
    }
    .profileImg{
      display: none;
    }
    .sidebar_bttn{
      font-size: 5vw;
      top: 2vh;
      left: 2vw;
      margin-left: 8vw;
      margin-top: 1vh;
    }
  }

  @media only screen and (max-width: 899px) and (min-width: 600px){
    padding-top: 5vh;
    padding-left: 3.5vw;
    width: 20vw;
    background-image: none;
    border: none;
    ul{
      display:none;
    }
    .profileImg{
      display: none;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 900px){
    padding-top: 2vh;
    padding-left: 3.5vw;
    background-image: none;
    border: none;
    ul{
      display:none;
    }
    .profileImg{
      display: none;
    }
  }
  
  li{
    padding-top: 4.5vh;
     font-size: 2vw;
     
  }
  h3 {
     display: none;
  }
  .profileImg{
      width: 4vw;
      height: 6vh;
      margin-top: 15vh;
  }
  .sidebar_bttn{
    i{
      color: lightgray;
      &:hover{
        color: white;
      }
      @media only screen and (max-width: 599px){
        font-size: 2.5vw;
      }
    }
  }
  .location {
    display: none;
  }
}

.profileImg{
  width: 9vw;
  height: 13vh;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://www.dropbox.com/s/95r5fjf08exe52g/profile-gif.gif?raw=1');
  border-radius: 100px;
  margin: 5% auto;
  margin-bottom: 20%;
  @media only screen and (max-width: 800px){
    height: 10vh;
  }
  @media only screen and (max-width: 599px){
    width: 25vw;
    height: 13vh;
    margin: 2.5% auto;
  }
}

.profileImg:hover {
  opacity: 1;
}

.mainWrapper{
  width: 100vw;
  height: auto;
  position: absolute;
  top: -10vh;
  left: -1vw;
  // left: 20vw;
  box-sizing: content-box;
  // background-image:linear-gradient(182.59deg, #ffffff 2.39%, #d34b769e 40.15%, #d34b76b8 91.9%);
  .aboutText{
    font-size: 3vw;
    color: white;
    margin-top: 130vh;
    margin-left: 22vw;
    width: 60vw;
    font-family: $main-font;
    line-height: 6vh;
  }
}

.header{
  // background-image: linear-gradient(180deg, #FFEFEE  0%, #FFEFEE 100%),
  //     url('https://uploads.codesandbox.io/uploads/user/f0adf11e-d188-4449-9035-9eff51e5c154/ioRg-white-hello.jpg');
    background-size: initial;
    background-blend-mode: multiply;
    background-position: left;
    background-repeat: no-repeat;
    /* mix-blend-mode: soft-light; */
    width: 100vw;
    height: 613.73px;
    // left: -6px;
    top: -83.74px;
    color: white;
    position: absolute;
    /* z-index: 8; */
    @media only screen and (min-width: 1200px){
      width: 100vw;
      left: -6;
    }
    @media only screen and (min-width: 900px) and (max-width: 1199px){
      width: 99vw;
      left: -6;
    }
    @media only screen and (max-width: 899px) and (min-width: 600px){
      width: 100vw;
      // left: -1vw;
    }
}

.about-header{
  position: inherit;
  top: 12vh;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    top:5vh;
  }
  h1 {
    font-family: $main-font;
      position: inherit;
      font-size: 8vw;
      left: 30vw;
      top: 22vh;
      border: 1px solid white;
      padding: 0 2vw;
      @media only screen and (min-width: 1200px){
        font-size: 10vw;
      }
      @media only screen and (min-width: 900px)and (max-width: 1199px){
        top: 20vh;
        left: 35vw;
      }
      @media only screen and (max-width: 899px) and (min-width: 600px){
        top:32vh;
      }
  }
  h3 {
    font-family: $main-font;
    line-height: 3.2vh;
      position: inherit;
      font-size: 2vw;
      left: 34vw;
      top: 42vh;
      width: 45vw;
      @media only screen and (max-width: 599px){
        line-height: 3.8vh;
        font-size: 3.5vw;
        top: 35vh;
        width: 65vw;
        left: 30vw;
        font-weight: bold;
      }
      @media only screen and (max-width: 899px) and (min-width: 600px){
        width: 55vw;
        top: 42vh;
        font-size: 3vw;
        line-height: 4vh;
      }
      @media only screen and (min-width: 900px)and (max-width: 1199px){
        top:38vh;
        font-size: 3vw;
        width:60vw;
        line-height: 5vh;
      }
      @media only screen and (min-width: 1200px){
        line-height: 4vh;
        top: 50vh;
        font-size: 1.5vw;
      }
  }
}

.wave {
  width: 100vw;
  height: auto;
  /* margin: 0 auto; */
  position: absolute;
  // left: -6px;
  right: 0;
  top: 48vh;
  bottom: 0;
  transition: top .4s linear;
  // z-index: 2;
  @media only screen and (min-width: 1200px){
    width: 100vw;
    // left: -6;
    top: -500px;
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
    width: 100vw;
    left: -5px;
     top: -50vh;
    // top: 30vh;
  }
  @media only screen and (max-width: 899px) and (min-width: 600px){
    width: 100vw;
    top: 0vh;
    left: -5px;
  }
  @media only screen and (max-width: 599px){
    width: 100vw;
    top: 0;
    left: 0;
  }
}

// .wave.fixed {
//   width: 100vw;
//   // left:20vw;
//   position: fixed;
//   top: -180vh;
//   bottom: 0;
//   /* z-index: -1; */
//   @media only screen and (max-width: 599px){
//     top: -42vh;
//   }
//   @media only screen and (min-width: 1200px) and (max-width: 2130px){
//     top: -990px;
//   }
//   @media only screen and (max-width: 899px) and (min-width: 600px){
//     width: 99.5vw;
//     top: -70vh;
//   }
//   @media only screen and (min-width: 900px)and (max-width: 1199px){
//     top: -105vh;
//   }
// }

// .wave.fixed:hover {
//   animation-name: svg;
//   animation-iteration-count: 1;
//   animation-duration: 5s;
//   animation-timing-function: ease-out;
//   animation-fill-mode: both;
// }

// @keyframes svg {
//   0% {
//     top: -470px;
//   }
//   50% {
//     opacity: 1;
//     top: -460px;
//   }
//   100% {
//     top:-450px;;
//   }
// }

// @media only screen and (min-width: 1200px){
//   @keyframes svg {
//     0% {
//       top: -115vh;
//     }
//     50% {
//       opacity: 1;
//       top: -105vh;
//     }
//     100% {
//       top:-100vh;;
//     }
//   }
// }

// @media only screen and (max-width: 800px){
//   @keyframes svg {
//     0% {
//       top: -200px;
//     }
//     50% {
//       opacity: 1;
//       top: -150px;
//     }
//     100% {
//       top:-153px;
//     }
//   }
// }

.nav.ContactNav{
  margin-top:-20vh;
  margin-bottom: 10vh;
  margin-left: 15vw;
  width: 80vw;
  display: flex;
  position: unset;
  justify-content: center;
  color: black;
  li{
    font-size: 3.5vw;
  }
}

.nav.ContactNav a:link{
  color: black;
  text-decoration: none;
}

.nav.ContactNav a:active{
  color: black;
text-decoration: none;
}

.nav.ContactNav a:visited{
  color: black;
}

.nav{
  width: 50vw;
  position: relative;
  top: -6vh;
  left: 30vw;
  transition: top .4s linear;
  @media only screen and (max-width:599px){
    left: 18vw;
  }
  @media only screen and (max-width: 899px) and (min-width: 600px){
    left: 18vw;
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
     top: 5vh;
     left: 25vw;
  }
  @media only screen and (min-width: 1200px){
    left:25vw;
  }
  ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 30vh;
    display: flex;
    flex-flow: row;
    @media only screen and (min-width: 900px)and (max-width: 1199px){
      margin-top: 18vh;
    }
  }
  li {
    font-size: 2vw;
    font-weight: bold;
    margin: 0 2.5vw;
    font-family: $main-font;
    text-shadow: 3px 1px 1px #f197aa;
    &:hover{
      text-shadow: 3px 1px 1px white;
      color: #f08aa0;
    }
    @media only screen and (max-width: 800px){
      font-size: 3.5vw;
    margin: 0 1.5vw;
    }
  }
}

.nav a:link{
    color: white;
    text-decoration: none;
}

.nav a:active{
  color: white;
  text-decoration: none;
}

.nav a:visited{
  color: white;
}

.nav.fixed{
  background-color: rgba(40, 38, 80, 0.83);
  border-radius: 25px;
  position: fixed;
  top: 1vh;
  left: 30vw;
  margin: 0;
  z-index: 10;
  width: 50vw;
  text-align: center;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    top: 0;
    left: 25vw;
    width: 62vw;
  }
  ul{
  // position: fixed;
  // top: 1vh;
  // left: 35vw;
  margin: 0;
  // z-index: 20;
  li{
    margin: 0 2vw;
  }
  @media only screen and (max-width:599px){
    left: 16vw;
    li{
      font-size: 4vw;
      text-shadow: 2px 3px 0px #baa5bd99;
    }
  }
  @media only screen and (max-width: 899px) and (min-width: 600px){
    left: 18vw;
    li{
      text-shadow: 2px 3px 0px #baa5bd99;
      font-size: 2.8vw;
    }
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
    top: 0;
    left:25vw;
  }
  @media only screen and (min-width: 1200px){
    left:25vw;
  }
}
  li {
    text-shadow: 2px 3px 0px #baa5bd;
  }

}

.toTop{
  width: 50vw;
  position: relative;
  top: 90vh;
  left: 50vw;
  transition: top .4s linear;
  font-size: 5vw;
  color: rgba(40, 38, 80, 0.83);
  position: fixed;
  cursor: pointer;
}

#about{
  // background-image: linear-gradient(182.59deg, #85447E 2.39%, #F95D7E 40.15%, #FFB7B7 68.99%, #FFFFFF 95.05%);;
  height: 100vh;
  margin-top:20vh;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  margin-top: 130vh;
  //  margin-left: 4vw;
   padding-bottom: 35vh;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    margin-top: 110vh;
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
    margin-top: 85vh;
    padding-bottom: 15vh;
    padding-top: 20vh;
  }
  h2 {
    font-size: 5vw;
    font-family: "Caveat";
    margin-left: 15vw;
  }
  p {
    font-size: 2.5vw;
    width: 50vw;
    margin-left: 15vw;
  }
  
}

.skills{
  margin-top: 80vh;
  margin-left: 25vw;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    margin-top: 50vh;
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
    margin-top: 100vh;
  }
  @media only screen and (min-width: 1200px){
    margin-top: 50vh;
    }
  .skills_blob{
    // width:20vw;
    position: relative;
    &:hover{
      transform: scale(1.1);
    }
  }
  .skills_header{
    padding-bottom: 10vh;
    h2 {
      margin-left: 20vw;
      font-size: 4vw;
      font-family: $main-font;
      color: white;
    }
  }
}

.css{
  left: 0;
  top: 0;
  width: 25vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 20vw
  }
}
.html{
  left: 0;
  bottom: 30px;
  width: 25vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 25vw
  }
  @media only screen and (min-width: 1312px) and (max-width: 1450px){
    width: 20vw
  }
}
.js{
  top: 28vh;
  right: 20vw;
  width: 25vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 25vw
  }
  @media only screen and (min-width: 1312px) and (max-width: 1450px){
    width: 20vw
  }
}
.less{
  left: 5vw;
  width: 28vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 25vw
  }
  @media only screen and (min-width: 1312px) and (max-width: 1450px){
    width: 25vw
  }
}
.ps{
  bottom: 0;
  top: 25vh;
  right: 8vw;
  /* left: 15vw; */
  width: 25vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 20vw
  }
  @media only screen and (min-width: 1312px) and (max-width: 1450px){
    width: 20vw
  }
}
.react{
  right: 30px;
  width: 28vw;
  opacity: 0;
  transition: opacity 1s;
  @media only screen and (min-width: 1200px) and (max-width: 1311px){
    width: 25vw
  }
  @media only screen and (min-width: 1312px) and (max-width: 1450px){
    width: 25vw
  }
}

.projects{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    // height: 2500px;
    @media only screen and (max-width: 599px){
      margin-top: 35vh;
    }
    @media only screen and (min-width: 900px)and (max-width: 1199px){
      margin-top: -10vh;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1311px){
      margin-top: 40vh;
    }
    @media only screen and (min-width: 1312px){
      margin-top: 50vh;
    }
  h1 {
    font-size: 4.5vw;
    font-family: $main-font;
    color: white;
  }
}

.right_arrow{
  text-decoration: none;
  background-color: transparent;
}

.left_arrow{
  text-decoration: none;
  background-color: transparent;
}

.carousel_wrapper{
  // margin-top: 1900px;
  height: 80vh;
  margin-left: 10vw;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    @media only screen and (min-width: 1200px) and (max-width: 2200px){
      margin-top: 135vh;
    }
}

.overlay_carousal {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 20%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4; margin-right: -20vw;}
  to {opacity: 1; margin-right: 0;}
}

@keyframes fade {
  from {opacity: .4;margin-right: -20vw;}
  to {opacity: 1; margin-right: 0;}
}


.wrapper_projects{
  height: 100vh;
  margin-top: 10vh;
  margin-left: 10vw;
  @media only screen and (max-width: 899px) and (min-width: 600px){
    margin-top: 15vh;
   }
   @media only screen and (min-width: 900px)and (max-width: 1199px){
    margin-top: 15vh;
  }
  @media only screen and (min-width: 1200px){
    margin-top: -10%;
  }
  h1{
    margin-left: 22vw;

  }
}

.projectBoxes{
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    height: auto;
    margin-top: 10vh;
    @media only screen and (max-width: 899px) and (min-width: 600px){
      margin-top: 10vh;
    }
}

.boxes2{
    width: 65vw;
    margin: 2vw;
    text-align: center;
    z-index: -2;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    background-color: white;
    padding: 2vw;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 2px #6d618b;
    @media only screen and (max-width: 599px){
      flex-flow: column wrap;
      width: 45vw;
    }
    @media only screen and (max-width: 899px) and (min-width: 600px){
      flex-flow: column wrap;
    }
    @media only screen and (min-width: 1200px){
      width: 35vw;
      height: auto;
      padding: 2.5vh 0;
      flex-flow: column;
    }
    img{
      width: 45%;
      box-shadow: 7px 4px 9px #80808096;
      @media only screen and (max-width: 899px) and (min-width: 600px){
        width: 60%;
      }
      @media only screen and (min-width: 900px)and (max-width: 1199px){
        width: 50%;
      }
      @media only screen and (min-width: 1200px){
        width: 80%;
      }
    }
}

.proj-desc{
  h3{
    font-family: $main-font;
  }
  @media only screen and (min-width: 900px)and (max-width: 1199px){
    margin-left: 6vw;
  }
  @media only screen and (min-width: 1200px){
  // margin-left: 5vw;
  }
}

iframe{
  margin-top: 1.5vh;
  margin-left: 18vw;
  width: 80vw;
}